*#*
*~
__*/
build/
*.pyc
/tests/testdata/demo1
/tests/testdata/demo1Materials/
/tests/testdata/materialprofileice
/tests/testdata/materialprofileiceMaterials/
/tests/testdata/nocosine
/tests/testdata/nocosineMaterials/
/tests/testdata/varstreams
/tests/testdata/varstreamsMaterials/
/tests/testdata/gasIOP_srf.txt
*.directory
/tests/testdata/*.m
examples/.ipynb_checkpoints/
accumake.py
generatetemplates.py
materialdicts.p
materials.py
.pylintrc

