*#*
*~
__*/
build/
*.pyc
accuread/tests/testdata/demo1
accuread/tests/testdata/demo1Materials/
accuread/tests/testdata/materialprofileice
accuread/tests/testdata/materialprofileiceMaterials/
accuread/tests/testdata/nocosine
accuread/tests/testdata/nocosineMaterials/
accuread/tests/testdata/varstreams
accuread/tests/testdata/varstreamsMaterials/
accuread/tests/testdata/radiop
accuread/tests/testdata/radiopMaterials/
accuread/tests/testdata/gasIOP_srf.txt
*.directory
*.m
examples/.ipynb_checkpoints/
accumake.py
generatetemplates.py
materialdicts.p
materials.py
.pylintrc
dist/
pyAccuRT.egg-info
